.DS_Store
.git

# generated folders
Hydrophones DAQ/History
Hydrophones DAQ/__Previews

# Ignore project logs
*.LOG

# ignore really huge CAD file folder
Hydrophones DAQ/Project Outputs for Hydrophones DAQ/ExportSTEP/fancy version of pcb with traces and stuff
